@page "/"

<h1 class="text-center">Welcome to admiralfeb.dev - bwasm</h1>
<div class="container">
    <!-- <Versions :pages="pages" /> -->
    <div class="jumbotron">
        <h2 class="text-center">I'm Austin and this is my portfolio.</h2>
        <div class="container">
            <img width="300" src="assets/img/austin.jpg" alt="austin deseo" />
            <div>
                <!-- <p>
            This webpage is coded in multiple languages and frameworks. To see
            other versions, see the links to the left.
          </p> -->
                <p>
                    For my resume/ccv click
                    <NavLink href="resume">here</NavLink>.
                </p>
                <p>
                    For my other projects click
                    <NavLink href="projects">here</NavLink>.
                </p>
                <p>
                    Finally, to contact me, email me at
                    <a href="mailto:austin@admiralfeb.dev" target="_blank">
                        austin@admiralfeb.dev</a>.
                </p>
            </div>
        </div>
    </div>
</div>
