<nav class="navbar">
    <NavLink id="homeImage" href="" Match="NavLinkMatch.All">
        <img src="assets/img/a-icon.svg" alt="logo" width="55" />
    </NavLink>
    <NavLink class="nav-link" mat-icon-button href="" Match="NavLinkMatch.All">
        <span class="material-icons"> home </span>
    </NavLink>
    <NavLink class="nav-link" mat-button href="resume" Match="NavLinkMatch.All">
        <span class="mat-button-wrapper">Resume</span>
    </NavLink>
    <NavLink class="nav-link" mat-button href="projects" Match="NavLinkMatch.All">
        <span class="mat-button-wrapper">Projects</span>
    </NavLink>
</nav>
