<div class="text-center">
    <h2>@title</h2>
    <h3>Under Construction</h3>
    <img src="assets/img/construction.png" style="max-width: 400px;" />
</div>

@code {
    [Parameter]
    public string? title { get; set; }
}
